.startbutton {
    text-align: center;
    border-radius: 4px;
}

.homebutton {
    text-align: center;
    border-radius: 4px;
}

body {
    background-color:#C0DCC8;
}

.buttonreturn {
    background: url(returnbuttonfinals.png);
    background-size: cover;
    height: 170px;
    width: 140px;
    border-radius: 10%;
    border-color: white;
    transition-duration: 0.3s;
    position: absolute;
}

.buttonreturn:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    transform: scale(.95);
    cursor: pointer;
}
/* shadow and pointer cursor when hover */

.story {
    margin-left: 300px;
    margin-right: 300px;
    font-family: fantasy;
    font-size: 20px;
}

.heading {
    text-align: center; 
    font-family: fantasy;
}
/* headings of intro & chapter 1-4 */

hr {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
    width: 70%;
    text-align: center;
}
/* horizontal lines for every chapter html pages under their heading */

.name {
    margin-left: 300px;
}
/* intro.html | userinput for player names */

.instructions {
    margin-left: 300px;
}
/* intro.html | instructions */

