body {
    background-color:#C0DCC8;
}

.createacc {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.password {
    display: inline;
    vertical-align: middle;
}
