body {
    background-image: url("greennotelane.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #C0DCC8

}

.returnbutton {
    text-align: left;
    float: left;
    margin: 0;
    border: 0;
}

.pleasantratebar {
    margin: 0;
    border: 0;
    float: right;
    margin-right: 5%;
    width: auto;
    height: auto;
}

.buttonreturn {
    background: url(returnbuttonfinals.png);
    background-size: cover;
    height: 170px;
    width: 140px;
    border-radius: 10%;
    border-color: white;
    transition-duration: 0.3s;
}

.buttonreturn:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    transform: scale(.95);
    cursor: pointer;
}
/* shadow and pointer cursor when hover */

.notebubble {
    width: 250px;
    animation-duration: 3s;
    position: fixed;
    top: 0;
    left: 350px;
}

.singingfrog {
    width: 400px;
    animation-name: singingfrog;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes singingfrog {
    
}
/* not sure how to "italic" an image yet, so gonna leave it here first */

.cursedcharacter {
    width: 400px;
    float: right;
}

@keyframes notebubble {
    from{bottom: 0px;}
    to{bottom: 789px;}
}