body {
    background-image: url("greenbackground2.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #C0DCC8

}


.pleasantratebar {
    margin: 0;
    border: 0;
    float: right;
    margin-right: 5%;
    width: auto;
    height: auto;
    opacity: 0.8;
    z-index: 1;
}

.buttonreturn {
    background: url(returnbuttonfinals.png);
    background-size: cover;
    height: 170px;
    width: 140px;
    border-radius: 10%;
    border-color: white;
    transition-duration: 0.3s;
}

.buttonreturn:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    transform: scale(.95);
    cursor: pointer;
}
/* shadow and pointer cursor when hover */

.notebubbleLeft {
    width: 250px;
    position: fixed;
    top: -330;
    left: 348px;
    z-index: -1;
    animation: notebubbleLeftAnimation 2s infinite linear;
}
/* linear animation so the frames go evenly */
/* the bigger the z-index element goes in front of everything else */

@keyframes notebubbleLeftAnimation {
    from{top:-300;}
    to{top:820;}
}

.notebubbleUp {
    width: 250px;
    position: fixed;
    top: -330;
    left: 502px;
    z-index: -1;
    animation: notebubbleUpAnimation 2s infinite linear;
}

@keyframes notebubbleUpAnimation {
    from{top:-300;}
    to{top: 820;}
}
/* not going all the way to know when is the notebubble touching the arrows */

.notebubbleDown {
    width: 250px;
    position: fixed;
    top: -330;
    left: 650px;
    z-index: -1;
    animation: notebubbleDownAnimation 2s infinite linear;
}

@keyframes notebubbleDownAnimation {
    from{top:-300;}
    to{top:820;}
}

.notebubbleRight {
    width: 250px;
    position: fixed;
    top: -330;
    left: 802px;
    z-index: -1;
    animation: notebubbleRightAnimation 2s infinite linear;
}

@keyframes notebubbleRightAnimation {
    from{top:-300;}
    to{top:820;}
}

.singingfrog {
    width: 400px;
    animation-name: singingfrog;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: fixed;
    bottom: 70px;
}


.cursedcharacter {
    width: 400px;
    right: 30px;
    position: fixed;
    bottom: 50px;
}

.leftArrow {
    width: 150px;
    left: 396px;
    position: fixed;
    bottom: 40px;
    z-index: -2;
}

.upArrow {
    width: 150px;
    left: 547px;
    position: fixed;
    bottom: 40px;
    z-index: -2;
}

.downArrow {
    width: 150px;
    left: 698px;
    position: fixed;
    bottom: 40px;
    z-index: -2;
}

.rightArrow {
    width: 150px;
    left: 852px;
    position: fixed;
    bottom: 40px;
    z-index: -2;
}