body {
    background-image: url("greenbackground2.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #C0DCC8

}


.pleasantratebar {
    margin: 0;
    border: 0;
    float: right;
    margin-right: 5%;
    width: auto;
    height: auto;
    opacity: 0.8;
    z-index: 1;
}

.pleasantRateBarFilled {
    float: right;
    z-index: 0;
    margin-left: 7.1%;
    width: 1093px;
    opacity: 0.6;
    position: absolute;
}

.buttonreturn {
    background: url(returnbuttonfinals.png);
    background-size: cover;
    height: 170px;
    width: 140px;
    border-radius: 10%;
    border-color: white;
    transition-duration: 0.3s;
}

.buttonreturn:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
    transform: scale(.95);
    cursor: pointer;
}
/* shadow and pointer cursor when hover */

.notebubbleLeft {
    width: 250px;
    position: fixed;
    left: 348px;
    z-index: -1;

}
/* the bigger the z-index element goes in front of everything else */

.notebubbleUp {
    width: 250px;
    position: fixed;
    left: 502px;
    z-index: -1;
}

.notebubbleDown {
    width: 250px;
    position: fixed;
    left: 650px;
    z-index: -1;
}

.notebubbleRight {
    width: 250px;
    position: fixed;
    left: 802px;
    z-index: -1;
}

.singingfrog {
    width: 400px;
    animation-name: singingfrog;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: fixed;
    bottom: 70px;
}


.cursedcharacter {
    width: 400px;
    right: 30px;
    position: fixed;
    bottom: 50px;
}

.leftArrow {
    width: 150px;
    left: 396px;
    position: fixed;
    bottom: 40px;
    z-index: -2;
}

.upArrow {
    width: 150px;
    left: 547px;
    position: fixed;
    bottom: 40px;
    z-index: -2;
}

.downArrow {
    width: 150px;
    left: 698px;
    position: fixed;
    bottom: 40px;
    z-index: -2;
}

.rightArrow {
    width: 150px;
    left: 852px;
    position: fixed;
    bottom: 40px;
    z-index: -2;
}