body {
    background-color: #C0DCC8;
    margin: 0;
}

.buttons {
  text-align: center;
  transition-duration: .60s;
}

.intro:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  transform: scale(.95);
  cursor: pointer;
}

.chapter1:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  transform: scale(.95);
  cursor: pointer;
}

.chapter2:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  transform: scale(.95);
}

.chapter3:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  transform: scale(.95);
}

.chapter4:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  transform: scale(.95);
}

.intro {
  background: url(introduction.jpeg);
  background-size: cover;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 15px;
  height: 240px;
  width: 1010px;
}

.chapter1 {
  background: url(chapter1block4.jpeg);
  background-size: cover;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 15px;
  height: 240px;
  width: 1010px;
}

.chapter2 {
  background: url(chapter2block5.jpeg);
  background-size: cover;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 15px;
  height: 240px;
  width: 1010px;
}

.chapter3 {
  background: url(chapter3block3.jpeg);
  background-size: cover;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 15px;
  height: 240px;
  width: 1010px;
}

.chapter4 {
  background: url(chapter4block2.jpeg);
  background-size: cover;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 15px;
  height: 240px;
  width: 1010px;
}

.credits {
  text-align: center;
  font-family: fantasy;
}